* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cochin;
}

body {
    background-color: lavenderblush;
}
.home, .reports, .products{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    font-size: 40px;
}